section.oscars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}

.oscars .logo-oscars {
    margin-top: 120px;
}

#first-fleur {
    position: absolute;
    left: 4em;
    top: 0em;
}

/* Suppression des fleurs du footer */
.site-footer::before {
    display: none;
}

.site-footer::after {
    display: none;

}

#second-fleur {
    position: absolute;
    right: -4em;
    top: 0;
}