.title {
    position: relative;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.title.in-view {
    opacity: 1;
    transform: translateX(0);
}

.title::before {
    content: "";
    position: absolute;
}