@charset "UTF-8";
/*Animation rotation des fleurs*/
.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
#first-fleur,
#second-fleur,
ul::after {
  -webkit-animation: rotateEffect 9s linear infinite;
          animation: rotateEffect 9s linear infinite;
}

@-webkit-keyframes rotateEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Effet fade in sur toutes les sections*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Applique l'animation à chaque section lorsqu'elle a la classe "show" */
.banner.show,
.story#story.show,
#studio.show {
  -webkit-animation: fade-in 1s ease forwards;
          animation: fade-in 1s ease forwards;
}

.banner,
.story#story,
#studio {
  opacity: 0;
}

.story {
  position: relative;
  background-color: #FFF5E9;
}

#background-video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Définit la position relative pour le conteneur de la vidéo */
.banner-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Positionne le logo */
.video-overlay {
  position: absolute;
  left: 50%;
  margin-top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

/*Animation de flottement*/
@-webkit-keyframes floatAnimation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
            transform: translate(-50%, -50%) rotate(-2deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
            transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
            transform: translate(-50%, -50%) rotate(-2deg);
  }
}
@keyframes floatAnimation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
            transform: translate(-50%, -50%) rotate(-2deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(2deg);
            transform: translate(-50%, -50%) rotate(2deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-2deg);
            transform: translate(-50%, -50%) rotate(-2deg);
  }
}
/* Taille du logo et maintient des proportions */
.video-overlay img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 650px;
  -webkit-animation: floatAnimation 5s ease-in-out infinite;
          animation: floatAnimation 5s ease-in-out infinite;
}

/* Animation pour faire remonter le logo avec effet de parallaxe */
@-webkit-keyframes logoAnimation {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes logoAnimation {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/* Applique l'animation au logo */
.video-overlay {
  -webkit-animation: logoAnimation 2s ease-out forwards;
          animation: logoAnimation 2s ease-out forwards;
}

section.oscars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  position: relative;
}

.oscars .logo-oscars {
  margin-top: 120px;
}

#first-fleur {
  position: absolute;
  left: 4em;
  top: 0em;
}

/* Suppression des fleurs du footer */
.site-footer::before {
  display: none;
}

.site-footer::after {
  display: none;
}

#second-fleur {
  position: absolute;
  right: -4em;
  top: 0;
}/*# sourceMappingURL=style.css.map */